body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color:  rgb(187, 174, 255);;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid rgb(187, 174, 255);
  position: relative;
}

.movingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: moveAround 1s linear infinite;
}

@keyframes moveAround {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px) rotate(-360deg);
  }
}